<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <ol>
                <li>create 2 component: Warn and Success</li>
                <li>output them benath each other in AppComponent</li>
                <li>output warning or Success message in component</li>
                <li>Style accordingly</li>
            </ol>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
          <app-warn></app-warn>
          <app-success></app-success>
        </div>
    </div>
</div>
