<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Recipe Book</a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarNav"
    aria-controls="navbarNav"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li [ngClass]="{'nav-item':true,'active':currentView==='recipe'}">
        <a class="nav-link" (click)="changeView('recipe')">
            Recipe
            <span class="sr-only" *ngIf="currentView === 'recipe'">(current)</span>
        </a>
      </li>
      <li [ngClass]="{'nav-item':true,'active':currentView==='shoopingList'}">
        <a class="nav-link" (click)="changeView('shoopingList')">
            Shooping List
        </a>
      </li>
    </ul>
  </div>
  <ul class="nav navbar-nav navbar-right">
    <li class="dropdown">
      <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button">
        Manage <span class="caret"></span>
      </a>
      <ul class="dropdown-menu" role="menu">
        <li><a href="#">Save Data</a></li>
        <li><a href="#">Fetch Data</a></li>
      </ul>
    </li>
  </ul>
</nav>
