<div class="row">
    <div class="col-md-5">
        <app-recipe-list 
        (activeRecipe)="selectedRecipe = $event"
        ></app-recipe-list>
    </div>
    <div class="col-md-1"></div>
    <div class="col-md-6">
        <app-recipe-detail *ngIf="selectedRecipe; else elseBlock" [activeRecipe]="selectedRecipe"></app-recipe-detail>
        <ng-template #elseBlock>
            <center>
                <h3>
                    Please Choose a item to show details
                </h3>
            </center>
        </ng-template>
    </div>
</div>