<div *ngIf="activeRecipe; else elseBlock">
    <div class="row">
        <div class="col-xs-12">
            <img [src]="activeRecipe.imagePath" class="img-fluid" alt="">
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <h1>Recipe Name: {{activeRecipe.name}} </h1>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <div class="dropdown">
                <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton"
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" appDropdown>
                    Manage Recipe
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item" (click)="addToSlist()">Add to Shopping List</a>
                    <a class="dropdown-item">Edit Recipe</a>
                    <a class="dropdown-item">Delete Recipe</a>
                </div>
            </div>
        </div>
    </div>
    
    <div class="row">
        <div class="col-xs-12">
            <h2> Description: </h2>
            <p>{{ activeRecipe.description }}</p>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <h2> Ingredients </h2>
            <ul class="list-group">
                <li class="list-group-item" *ngFor="let i of activeRecipe.ingredients">
                    {{i.name}} - {{i.amount}}
                </li>
            </ul>
        </div>
    </div>
</div>
<ng-template #elseBlock>
    <center>
        <h3>
            Please Choose a item to show details
        </h3>
    </center>
</ng-template>